{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	Добавить докладчика | {{ block.super }}
{% endblock title %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
				{{ form|crispy }}
				<input type="submit" class="btn btn-primary" value="Внести данные">
			</form>
		</div>
	</div>
{% endblock content %}