{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	Докладчики | {{ block.super }}
{% endblock title %}

{% block content %}
	<div class="row">
	  	<div>
			<a class="btn btn-primary" style="float: right;" role="button" href="{% url 'add_speaker' %}">Добавить докладчика</a>
		</div>
	</div>
	<hr>
	{% for item in instance %}
			<a href="{% url 'delete' item.id %}" class="btn btn-default">Удалить</a>
			<a href="{% url 'edit' item.id %}" class="btn btn-default">Изменить</a>

			<h2>{{ item.full_name|upper }}</h2>
			<p class="lead">{{ item.about }}</p>
			{% if item.image.url != "" %}
			<img src="{{item.image.url}}" class="img-responsive img-rounded" alt="speaker image" height="" ="500" >
			{% endif %}
			<hr>
	{% endfor %}
	{% include "pagination.html" %}
{% endblock content %}