{% extends "base.html" %}

{% block title %}
	Организаторы | {{ block.super }}
{% endblock title %}

{% block content %}
	{% for item in organizers %}
			<h1>{{item.name}}</h1>
			<p>{{item.role}}</p>
			{% if item.image.url != "" %}
			<img src="{{item.image.url}}" class="img-responsive img-rounded" alt="Here could be an image" width="500">
			{% endif %}
			<hr>
	{% endfor %}
{% endblock content %}