{% extends "base.html" %}

{% block title %}
	Выступления | {{ block.super }}
{% endblock title %}

{% block content %}
	{% for item in perform %}
		<div class="text-center">
			<h3>{{item.name}}</h3>
			<h2>{{item.theme}}</h2>
			<p>{{item.time}}</p>
		</div>
		<hr>
	{% endfor %}
{% endblock content %}