{% extends "base.html" %}

{% block title %}
	Новости | {{ block.super }}
{% endblock %}

{% block content %}
	{% for news_item in news %}
		<p class="text-muted" id="#date">{{news_item.pub_date}}</p>
		<h1 id="toph1">{{ news_item.title }}</h1>
		<p>{{ news_item.text }}</p>
		{% if news_item.image.url != "" %}
			<img src="{{news_item.image.url}}" class="img-responsive img-rounded" alt="Project name" width="500">
		{% endif %}
		<hr>	
	{% endfor %}
{% endblock %}
