<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title> {% block title %}Конференция{% endblock %} </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% include "head_css.html" %}

</head>
	<body>
		
		{% include "navbar.html" %}

		<div class="container">

		    <div class="jumbotron">

		    	{% block content %}{% endblock content %}

		    </div>

    	</div>

    	{% include "javascripts.html" %}

	</body>
</html>