<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Сайт конференции</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li><a href="{% url 'default' %}">Главная</a></li>
	        <li><a href="{% url 'news' %}">Новости</a></li>
	        <li><a href="{% url 'performances' %}">Выступления</a></li>
	        <li><a href="{% url 'speakers' %}">Докладчики</a></li>
	        <li><a href="{% url 'organizers' %}">Организаторы</a></li>
	        <li><a href="{% url 'partners' %}">Партнеры</a></li>
	        <li><a href="{% url 'contacts' %}">Контакты</a></li>
	        <li><a href="{% url 'about' %}">О нас</a></li>
	      </ul>
	    </div>
	</div>
</nav>