{% extends "base.html" %}

{% block title %}
	Партнеры | {{ block.super }}
{% endblock title %}

{% block content %}
	{% for item in partners %}
			<h1>{{item.name}}</h1>
			<p>{{item.text}}</p>
			{% if item.image.url != "" %}
			<img src="{{item.image.url}}" alt="img" class="img-responsive img-rounded" width='500'>
			{% endif %}
			<hr>
	{% endfor %}
{% endblock content %}