{% extends "base.html" %}

{% block title %}
	Контакты | {{ block.super }}
{% endblock %}

{% block content %}
	{% for contacts_item in contacts %}
			<h1>{{ contacts_item.name }}{{ contacts_item.lastname }}</h1>
			<p>тел: {{ contacts_item.num }} <br>
			адрес: {{ contacts_item.adress }}</p>
			{% if contacts_item.image.url != "" %}
				<img src="{{contacts_item.image.url}}" class="img-responsive img-rounded" alt="contact image" width="500">
			{% endif %}
			<hr>
	{% endfor %}
{% endblock content %}